---
import "../styles/global.css";
const pageTitle = "About Me";
---

<a href="/">Harrison Kirk</a>
<a href="/about/">About</a>
<a href="/writing/">Writing</a>
<a href="/data/">Data</a>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle} — hawkirk</title>
    </head>
    <body>
        <h1>{pageTitle}</h1>

        <p>Hello! My name is Harrison Kirk.</p>

        <p>
            I'm interested in the intersection of data, technology, and policy.
        </p>

        <p>
            I currently work on the Health team at
            <a href="https://www.mathematica.org/">Mathematica</a>
             as a Data Analytics Developer, based in Los Angeles.
        </p>

        <p>
            My other interests include software engineering, urbanism,
            minimalism,
            <a
                href="https://harmreduction.org/about-us/principles-of-harm-reduction/"
            >
                harm reduction</a
            >, <a href="#words">writing</a>, filmmaking, music production,
            traveling, hiking, and of course, hanging out with my dog, Wren.
        </p>

        <p>
            Check out my <a href="https://hawkirk.com/cv/">resume</a>,
            <a href="">data portfolio</a>, or <a href="">writing</a>
             for more on my experience and interests.
        </p>
    </body>
</html>
