---
import "../styles/global.css";
const pageTitle = "Data";
---

<a href="/">Harrison Kirk</a>
<a href="/about/">About</a>
<a href="/writing/">Writing</a>
<a href="/data/">Data</a>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle} — hawkirk</title>
    </head>
    <body>
        <h1>{pageTitle}</h1>

        <p>A space for data science and engineering projects.</p>
    </body>
</html>
