---
import "../styles/global.css";
const pageTitle = "Harrison Kirk";
---

<a href="/">Harrison Kirk</a>
<a href="/about/">About</a>
<a href="/writing/">Writing</a>
<a href="/data/">Data</a>
<html lang="en">
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{pageTitle}</title>

	<body>
		<p>Welcome! Thanks for stopping by.</p>

		<h3>
			<i class="fa fa-satellite"></i> Explore
		</h3>

		<ul>
			<li><a href="/data/">Data</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="https://hawkirk.com/cv">Resume</a></li>
		</ul>

		<hr />

		<h3>
			<i class="fa fa-envelope"></i> Get in touch
		</h3>

		<p>
			Please don't hesitate to reach out via
			<a href="mailto:harrison@hawkirk.com">email</a>,
			<a href="https://github.com/hawkirk">GitHub</a>,
			<a href="https://www.linkedin.com/in/hawkirk/">LinkedIn</a>, or <a
				href="https://twitter.com/hrrsnkrk">Twitter</a
			>.
		</p>
	</body>
</html>
